p{
			text-align:justify;
			text-indent: 50px;	
								}

		h1{
			text-align: center;
			color: #800000;

								}

		h2{
			text-align:left;
			color:#8B0000;
							}

		h3{

			text-align: left;
			color:#B22222;
							}

		img{

			width: 250px;
			height: 200px;
		}